@model ML.ResultExcel
@{
    ViewData["Title"] = "MateriaCargaMasiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Carga Masiva de Materias</h1>
    <h5>Seleccione con que tipo de archivo desea hacer la carga</h5>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <a><input type="submit" value="Excel" class="btn btn-success col-md-12" id="xlsx" /></a>
        </div>
        <div class="col-md-6">
            <a><input type="submit" value="TXT" class="btn btn-primary col-md-12" id="txt" /></a>
        </div>
    </div>
    @using (Html.BeginForm("Carga", "CargaMasiva", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {


        <div class="row g-3" id="fuImage" style="display:none;">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-file-earmark-text-fill" style="color: lightseagreen"></i></span>
                    <input type='file' class="form-control" name="file" />
                </div>
            </div>
            @if (Model == null)
            {
                <input type="submit" value="Procesar" class="btn btn-outline-warning" />
            }
            else
            {
                if (Model.Objects.Count == 0 || Model.Objects == null)
                {
                    <input type="submit" value="Insertar" class="btn btn-outline-warning" />
                }
                else
                {
                    <input type="submit" value="Procesar" class="btn btn-outline-warning" />
                }
            }


        </div>
        <br />
    }
</div>


@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">


    $('#xlsx').click(function () {
        $('#fuImage').toggle('slow', function () {
        });
    });
</script>